.search-bar {
  margin: 25px 0;
}

.search-bar input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search-bar input:focus {
  outline: none;
  border-color: #2563eb;
}